body {
    font-family: 'PT Sans', sans-serif;
}
.titulo {
    font-family: 'Lora', serif;
}
.nav-main {
    background-color: rgb(241, 238, 238);
}
nav.navbar-inverse .nav li a {
    color: grey;
}
.nav-main__home {
    color: grey;
    font-size: 3.5rem;
}
.nav-main__brand {
    padding-top: 0.5rem;
}

.banner__content {
    text-align: center;
    font-size: 4rem;


}
.noticias {
text-align: center;
background-color: rgb(241, 238, 238);


}
.noticias__content {
    box-sizing: border-box;
}
.noticias__titulo{
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3rem;
    font-style: bold;
}
.noticias__img {
margin-top: auto;
}
.objetivos {

}
.objetivos__titulo {
    font-family: 'Lora', serif;
    font-size: 3rem;
    text-align: center;
}

.objetivos__content {
    padding-top: 20px;
    font-size: 1.5rem;
}
.footer {
 background-color: rgb(102, 101, 101);
 color: white;
}
.footer__titulo {
    font-style: bold;
    font-family: 'Lora', serif;
}
.footer__direccion {
    margin-top: 100px;
    text-align: center;

}
.footer__contacto {
    margin-top: 50px;
}
.footer__icon {
    font-size: 3rem;
    
}
.footer__enviar {
    margin-top: 5px;
}

/* Nosotros */

.nosotros-banner {
    background-image: url(assets/bannernosotros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-top: 20px;
    padding: 80px;
    text-align: center;
}
.nosotros__content {
    font-size: 2rem;
}
.historia {
    background-color: rgb(238, 237, 237);
    text-align: center;
}
.organizacion {
    text-align: center;
}
.consejo-general {
    text-align: center;
}

/* Blog */

.blog {
    margin-top: 55px;
}
.blog__title {
    text-align: center;
    border-bottom: 0.3rem solid; 
    border-color: #0089d3;
    margin-bottom: 20px;
}
.blog__barra {
    border-left: 0.2rem solid;
    border-color:rgb(238, 237, 237);
}
.blog__button{
margin-bottom: 5px;
}

@media (min-width: 780px) {
    .donaciones {
        display: block;
        position: fixed;
        right: 0;
        top: 300px;
        background-color: #0089d3;
        padding: 20px;
        color: white;
        text-align: center;
        z-index: 1;
    }
    .donaciones__img {
        width: 150px;
    }
    .banner {
        background-image: url(assets/banner1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px;
        margin-top: -20px;
        margin-right: -10px;
    }
    
}
@media (max-width: 781px) {
    .donaciones {
        display: none;
    }
    .banner {
        background-image: url(assets/bannermobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
        margin-top: -20px;
        margin-right: -10px;
    }

  
}

